<%
# Flash Messages Component - Minimalist Design
#
# Displays flash notice and alert messages with minimal styling
# - Minimal border, no background color
# - Black text with appropriate icons
# - Success: check icon, Error: alert icon
#
# No parameters needed - reads from flash[:notice] and flash[:alert]

logged_in_margin = logged_in? ? 'mt-16' : ''
%>

<% if flash[:notice] %>
  <div class="<%= logged_in_margin %> mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4">
    <div class="rounded-sm bg-white p-4 border border-[rgb(229,231,235)] shadow-sm">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= render 'shared/icons/check', class: 'h-5 w-5 text-[rgb(26,26,26)]' %>
        </div>
        <div class="ml-3">
          <p class="text-base font-normal text-[rgb(26,26,26)]"><%= flash[:notice] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="<%= logged_in_margin %> mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4">
    <div class="rounded-sm bg-white p-4 border border-[rgb(229,231,235)] shadow-sm">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= render 'shared/icons/alert', class: 'h-5 w-5 text-[rgb(26,26,26)]' %>
        </div>
        <div class="ml-3">
          <p class="text-base font-normal text-[rgb(26,26,26)]"><%= flash[:alert] %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
